@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.sidebar{
    position: fixed;
    height: 100%;
    width: 240px;
    background: #176e08;
    transition: all 0.5s ease;
  }

.sidebar .logo{
  justify-content: center;
  align-items: center;
}

.sidebar .nav-list li {
    color: white;
}

.sidebar.active{
    width: 60px;
  }
  .sidebar .logo{
    height: 80px;
    display: flex;
    align-items: center;
  }
  .sidebar .logo i{
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    min-width: 60px;
    text-align: center
  }
  .sidebar .logo .logo_name{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
  }
  .sidebar .nav-list{
    margin-top: 10px;
  }
  .sidebar .nav-list li{
    position: relative;
    list-style: none;
    height: 50px;
  }
  .sidebar .nav-list li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  .sidebar .nav-list li a.active{
    background: #425c76;
  }
  .sidebar .nav-list li a:hover{
    background: #425c76;
  }
  .sidebar .nav-list li i{
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: #fff;
  }
  .sidebar .nav-list li a .list_name{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
  }

  .home-section{
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
  }
  .sidebar.active ~ .home-section{
    width: calc(100% - 60px);
    left: 60px;
  }
  .home-section nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #176e08;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
  }
  .sidebar.active ~ .home-section nav{
    left: 60px;
    width: calc(100% - 60px);
  }
  .home-section nav .sidebar-button{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    color: white;
  }
  nav .sidebar-button i{
    font-size: 25px;
    margin-right: 10px;
  }
  .home-section nav .search-box{
    position: relative;
    height: 50px;
    max-width: 550px;
    width: 100%;
    margin: 0 20px;
  }
  nav .search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
  }
  nav .search-box .fa-magnifying-glass{
    position: absolute;
    height: 40px;
    width: 40px;
    background: #176e08;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    transition: all 0.4 ease;
  }
  .home-section nav .profile-details{
    display: flex;
    align-items: center;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    height: 50px;
    min-width: 190px;
    padding: 0 15px 0 2px;
  }
  nav .profile-details img{
    height: 40px;
    width: 40px;
    border-radius: 6px;
    object-fit: cover;
  }
  nav .profile-details .admin_name{
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
  }
  nav .profile-details i{
    font-size: 25px;
    color: #333;
  }

  .home-section .home-content{
    position: relative;
    padding-top: 100px;
    margin: 0 25px;
    height: auto;
  }

  .home-content .data-emision-company{
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 20px;
    border-radius: 12px;
    margin-bottom: 35px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }

  .data-emision-company .chart{
    display: flex;
  }

  .chartCard {
    height: calc(70vh - 30px);
    display: flex;
  }
  .chartBox {
    width: 650px;
    margin: 0 10px;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    background: white;
  }

  .data-emision-company h2{
    margin-bottom: 10px;
  }

  .data-emision-company .text-data{
    padding-left: 10px;
    margin-bottom: 10px;
  }
  
  .box-album{
    width: 100%;
    height: auto;
    margin: auto;
  }
  
  .flex-column{
    display: flex;
    flex-direction: column;
  }
  
  .flex-row{
    display: flex;
    flex-direction: row;
  }
  
  .box{
    width: 50px;
    border-radius: 10px;
    flex-grow: 1;
    background-color: white;
    padding: 7px 10px;
    margin: 5px 10px;
    color: black;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }
  
  .box p{
    text-align: center;
    font-size: 16px;
    margin-bottom: 5px;
    padding-bottom: 3px;
    border-bottom: 2px solid black;
    font-family: 'Noto Sans', sans-serif;
  }
  
  .box h4{
    padding-top: 5px;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
  }

  .home-content .sector-emission{
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }

  .chartCard1 {
    height: calc(68vh - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .chartBox1 {
    width: 1000px;
    margin: 0 10px;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    background: white;
  }

  .chartBox2{
    width: 450px;
    margin: 0 10px;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    background: white;
  }

  .sector-emission h2{
    margin-bottom: 10px;
  }

  .sector-emission .text-data{
    padding-left: 10px;
    margin-bottom: 10px;
  }